$primary-color: #ffd300;
$primary-color-end: #ffd300;

@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin ellipsisY($num: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}

@mixin safe-area-bottom($bottom: 0px, $attr: "padding-bottom") {
  #{$attr}: $bottom;
  #{$attr}: calc(#{$bottom} + constant(safe-area-inset-bottom));
  #{$attr}: calc(#{$bottom} + env(safe-area-inset-bottom));
}
